*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:800px;
}

.student-card,
#report{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

.student-card img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:black;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}

.hidden{
    display:none;
}

table{
    width:100%;
    margin-top:15px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ddd;
}

th,td{
    padding:10px;
}