*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    text-align:center;
    background:#f4f4f4;
    padding:20px;
}

h1{
    margin-bottom:20px;
}

.info,
.records{
    margin:10px;
}

.game-board{
    width:420px;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.card{
    height:80px;
    background:#333;
    color:white;
    font-size:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border-radius:10px;
}

.card.flipped{
    background:white;
    color:black;
}

button{
    padding:10px 20px;
    border:none;
    background:green;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

#message{
    color:green;
    margin-top:20px;
}