body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

.container{
    display: flex;              
    flex-direction: row;        
    justify-content: center;    
    align-items: center;        
    flex-wrap: wrap;            
    gap: 20px;                  
}

.card{
    display: grid;
    background-color: white;
    width: 200px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.grid-title{
    text-align: center;
    margin-top: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

.box{
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}



